body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url("images/table.png");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding: 5px 0;
  border-radius: 2px;
  font-weight: 800;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}
