body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  margin-bottom: 4px;
}

button {
  background: #5f9341;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

a {
  color: #5f9341;
}


h1 {
  font-weight: 200;
  letter-spacing: 2px;
}

#container {
  width: 100%;
}

.team-img {
  width: 100px;
  border-radius: 100%;
  margin: 10px;
}